<div class="song">
  <div class="song-order"><%= song.song_order %></div>
  <div class="favorite">&#9734;</div>
  <div class="song-name"><%= song.song_name %></div>
  <div class="song-duration"><%= song.song_duration %></div>
</div>
