// Place all the styles related to the Jukebox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

$selected-hover: #0085B2;
$down: #00698C;
$light-grey: #DDDDDD;
$favorite: #D9D900;
$tracknum-selectedtag: #90B9C9;

.carousel-container {
  * {
    display: inline-block;
  }

  .arrow-container {
    height: 60px;
    width: 60px;
    border: 2px solid $light-grey;
    border-radius: 10px;
    text-align: center;
    position: relative;

    // Create right arrow
    .arrow {
      height: 20px;
      width: 32px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      * {
        float: left;
      }

      .arrow-stem {
        background: transparent;
        width: 20px;
        height: 8px;
        border-bottom: 8px solid $light-grey;
      }

      .arrow-head {
        border-top: 12px solid transparent;
        border-left: 12px solid $light-grey;
        border-bottom: 12px solid transparent;
      }
    }

    // Flip right arrow horizontally to get left arrow
    #left-arrow {
      transform: scale(-1,-1);
      top: 40%;
    }

  }
  .arrow-container:hover {
    background-color: $selected-hover;
    border: none;

    .arrow {
      .arrow-stem {
        border-bottom: 8px solid #fff;
      }

      .arrow-head {
        border-left: 12px solid #fff !important;
      }
    }
  }

  .arrow-container:active {
    background-color: $down;
    border: none;

    .arrow {
      .arrow-stem {
        border-bottom: 8px solid #fff;
      }

      .arrow-head {
        border-left: 12px solid #fff !important;
      }
    }
  }

  .album {
    height: 400px;
    width: 340px;
    text-align: center;
    box-shadow: 0px 0px 3px 3px $light-grey;

    img {
      height: 220px;
      width: 220px;
      margin-bottom: 10px;
      margin-top: 25px;
    }

    h1 {
      width: 290px;
      margin: 0 auto;
      font-weight: 300;
      color: $selected-hover;
      font-size: 30px;
    }

    h2 {
      margin-top: 6px;
      font-weight: 400;
      font-size: 22px;
    }
  }

  .selected-album {
    background-color: $selected-hover;
    box-shadow: none;

    h1,h2 {
      color: #fff !important;
    }
  }
}

.album-songs {
  margin: 0 auto;
  box-shadow: 0px 0px 3px 3px $light-grey;
  height: 280px;
  width: 720px;

  .song {
    height: 56px;
    width: 100%;
    border-bottom: 2px solid $light-grey;
    background-color: #f4f4f7;


    * {
      display: inline-block;
      line-height: 55px;
      vertical-align: middle;
    }

    .song-order {
      width: 35px;
      height: 35px;
      line-height: 35px;
      margin-left: 20px;
      background-color: $tracknum-selectedtag;
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }

    .star {
      height: 30px;
      width: 30px;
      margin-left: 15px;
      background: url(star-unselected.png) no-repeat;
      fill: $light-grey;
      background-size: 30px 30px;

    }

    .star.favorite {
      background: url(star-favorite.png) no-repeat;
      background-size: 30px 30px;
    }

    .song-name {
      margin-left: 15px;
      font-size: 18px;
      color: $selected-hover;
    }

    .song-label {
      height: 35px;
      width: 100px;
      text-align: center;
      line-height: 35px;
      margin-left: 12px;
      background-color: $light-grey;
      font-size: 14px;
    }

    .song-duration {
      float: right;
      margin-right: 20px;
      font-size: 18px;
    }
  }
  .song:hover {
    background-color: $selected-hover;

    * {
      color: #fff;
    }

    .star {
      background: url(star-unselected-hover.png) no-repeat;
      background-size: 30px 30px;

    }

    .star.favorite {
      background: url(star-favorite-hover.png) no-repeat;
      background-size: 30px 30px;
    }

    .song-label {
      background-color: $tracknum-selectedtag;
    }

  }
  div:last-of-type {
    border-bottom: none;
  }
}
